

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 0px solid #aaa;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 11px;
	text-align: center;
    font-family: sans-serif;
    color: #403F3F;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
    color:white;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form 
{
    margin-left: 45px;
}


.leftnavadmin h1
{
 
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}


div.breadcrumbs a
{
    text-decoration: none;
}

div.breadcrumbs a:visited
{
    color: black;
}





div.search-form
{
	padding: 10px;
	margin: 10px 0;
	
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: black;
	display: block;
	padding: 12px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

/*#0066A4*/

.operations li a:visited
{
	color: black;
}

.operations li a:hover
{
	background: white;
}
/*ADMIN PANEL*/
body{
    margin:auto;
    font-family:sans-serif;
    
    
    
}
#mainmenu
{
margin-top: 38px;	
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
     
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #444;
	background-color:#eee;
	text-decoration:none;
}

.menudesc{
    background-color: #eaeaea;
    padding:17px;
    font-size: 14px;
    line-height: 29px;
    color:#4A4A4A;
    border-radius:5px;
  border:1px solid #c0c0c0;
}
.rightnavadmin{
   margin-left: 19px;
margin-top: 25px;
width: 90%;
}
.rightnavadmin div.portlet-title{
    background-color: #403F3F;
    color:#FFFFFF;
    padding-left: 20px;
}
.rightnavadmin div.portlet-decoration{
   background-color: #403F3F;
border-left: 5px solid #202020;
}
.leftnavadmin{
    margin-left: 20px;
}
    .dashboard_button{
					float:left;
					width:133px;
					height:80px;
					overflow:hidden;
					border:1px solid #c0c0c0;
					padding:15px;
					margin:0 10px 10px 0;
					background:#eaeaea ;
					font-size:11px;
					line-height:1.4em;
					text-decoration:none;
					color:#a1a1a1;
					}
					
	.dashboard_button span{
					display:block;
					padding-top:7px;
					}
				
	.dashboard_button_heading{
					display:block;
					color:#4a4a4a;
					font-size:12px;
					padding:0 0 0 40px;
					
					height:35px;
					}
					
	.two_lines.dashboard_button_heading{
					line-height:17px;
					}
					
					
	.dashboard_button:hover{
					background:#ddd;
					border:1px solid #aaa;
					padding-top:16px;
					height:79px;
				}
				
	.dashboard_button:hover .dashboard_button_heading{
					color:#222;
				}
				
				
	.button1 .dashboard_button_heading{ background:transparent url(../images/1.png) no-repeat 0px top;	}
	.button2 .dashboard_button_heading{ background:transparent url(../images/1.png) no-repeat 0px top;	}
	
    /*NEW TEMPLATE STYLE ENDS*/
    div.form
{
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.form .row
{
	margin: 5px 0;
    color: #403F3F;
    font-size: 13px;
    letter-spacing: 1px;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;
}

div.form div.error label,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}
.grid-view table.items th, .grid-view table.items td {
    max-width:75px;
    word-wrap:break-word;   
    text-align: left;    
    
     -ms-word-wrap : sWrap;
}
.mybanner{
    height:130px;
    background: url(images/repgray2.png);
}
.thecontent{
    background: url(images/formbg.jpg);
    
}
.thebreadcrumbs{
    height:50px;
}


#mainmenu
{
    text-align: right;
}

.manage
{
    margin-top: 20px;
}

.items 
{
    color: red;
}

.grid-view table.thelife {
    background: none repeat scroll 0 0 white;
    border: 1px solid #D0E3EF;
    border-collapse: collapse;
    width: 100%;
}
.grid-view table.thelife {
    border-collapse: collapse;
}
.grid-view table.thelife {
    border-collapse: collapse;
}


.grid-view table.thelife th, .grid-view table.thelife td {
    border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view table.thelife th {
    background-color: #403F3F;
    color: white;
    text-align: center;
}

.grid-view table.thelife th a {
text-decoration: none;
color: white;
}



.grid-view table.thelife th, .grid-view table.thelife td {
    border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view .button-column {
    text-align: center;
    width: 60px;
}
.grid-view table.thelife tr.odd {
    background: none repeat scroll 0 0 #E7E7E7;
}
.grid-view table.thelife th, .grid-view table.thelife td {
    border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view table.thelife th, .grid-view table.thelife td {
    border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view table.thelife tr.even {
    background: none repeat scroll 0 0 #E7E7E7;
}

.search-button
{
    font-size: 12px;
    color: black;
}

div.wide.form label
{
    text-align: left;
    width: 130px;
}

div.form .note 
{
    font-style: normal;
    font-size: 12px;
}

.scheduleclass td
{
    vertical-align: middle;
}

#addmore
{
    font-size: 12px;
    color: black;
    font-weight: bold;
}
table.detail-view th {
     border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
     background-color: #403F3F;
    color: white;
    text-align: center;
}
table.detail-view td {
     border: 1px solid white;
    font-size: 0.9em;
    padding: 0.3em;
     background-color: #E7E7E7;
    text-align: left;
}
.update-button
{
    font-size: 14px;
    color: black;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}
